<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to AuctionArena!</h1>
                <p>View our trusted collection of items from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Item</a>
                </p>
            </div>
        </header>
        
        <div class="d-flex align-content-start flex-wrap text-center">
            <div class="col-lg-12">
                <h3>Our Most popular items</h3>
                <% items.forEach(function(item){%>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="thumbnail" id="home">
                            <img class="img-fluid" src="<%= item.image%>">
                            <div class="figure-caption">
                                <h4><%= item.name%></h4>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= item._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>

                <% });%>
            </div>
        </div>
    </div>

<% include ../partials/footer %>