<% include ../partials/header %>

<div class="container">
    <div class="row">
        <form class="form-signup" enctype="multipart/form-data" action="/campgrounds" method="POST" >
            <div class="card card-body bg-light">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Post a new item!!</h1>
                </div>       
                <div class="mb-4">
                    <div class="form-group">
                        <label for="Itemname">Item Name</label>
                        <input type="text" class="form-control" name="name" id="Itemname" placeholder="Item Name"  autofocus>
                    </div>
                    <div class="form-group">
                        <label for="Itemdescription">Item Description</label>
                        <textarea class="form-control" id="Itemdescription" name="description" placeholder="Item Description" row="4" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="MBP">Minimun Biding Price</label>
                        <input type="number" class="form-control" name="minimumBid" id="MBP" placeholder="Minimun Biding Price">
                    </div>
                    <div class="form-group">
                        <label for="auctionDate">Auction Date</label>
                        <input type="date" class="form-control" onchange="getslots()" name="auctionDate" id="auctionDate" placeholder="Auction Date">
                    </div>
                    <div class="form-group">
                        <label for="auctionslot">Auction Slot</label>
                        <select class="form-control" type="text" id="auctionSlot"name="auctionSlot" placeholder="image url" >

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Uploadimage">Image Url</label>
                        <input class="form-control" type="text" name="image" placeholder="image url" >
                    </div>
                    <div class="form-group">
                        <label for="Uploadimage">Upload Image</label>
                        <input type="file" class="form-control-file" id="Uploadimage" name="ItemImage">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Post Item</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../partials/footer %>