<% include partials/header %>

<style type="text/css">
    #contact .card:hover i,#contact .card:hover h4{
        color: #87d37c;
        /*87d37c*/
    }
</style>

<section id="contact">
    <div class="container">
        <div class="card-body">
            <h3 class="text-center text-uppercase">contact us</h3>
            <p class="text-center w-75 m-auto">We are the Groot Auction Service Provider (GASP)</p>
        </div>
        <div class="row card-header">
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fas fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">call us</h4>
                        <p>+1-234-456-7890 <br>+1-987-654-3210</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office location</h4>
                        <address>800 West Campbell Road, Richardson, Texas</address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office location</h4>
                        <address>7575 Frankford Road, Dallas,  Texas</address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fas fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">email</h4>
                        <p>groot@utdallas.edu <br>
                        gasp@utdallas.edu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include partials/footer %>